<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title> Profil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card color="secondary">
    <ion-card-header class="ion-text-center">
      <ion-avatar class="ion-align-self-center">
        <img alt="Regita" src="assets\pict\pict_regita.jpg" />
      </ion-avatar>
      <ion-card-title>Regita Maulia</ion-card-title>
      <ion-card-subtitle>H1D022021</ion-card-subtitle>
      <ion-card-subtitle
        >Informatika, Universitas Jenderal Soedirman</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>
  <ion-row class="ion-justify-content-center">
    <ion-chip [disabled]="true" color="secondary">
      <ion-icon name="phone-portrait" color="secondary"></ion-icon>
      <ion-label>Praktikan Pemrograman Mobile 2024</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
      <ion-icon name="code-working" color="secondary"></ion-icon>
      <ion-label>Praktikan Pemrograman Web 2023</ion-label>
    </ion-chip>
    <ion-chip color="secondary">
      <ion-icon name="layers" color="secondary"></ion-icon>
      <ion-label>Praktikan Struktur Data 2022</ion-label>
    </ion-chip>
  </ion-row>
</ion-content>
